<div class="modal-form modal-form_none modal-form_js">
  <form class="contact-us-form modal-form-window" action="https://form-data-dl.herokuapp.com/api/messages" method="POST">
    <div>
      <label class="form-label" for="input-name">Name</label>
      <input class="form-input form-input_js" name="name" id="input-name" type="text">
    </div>
    <div class="form-row">
      <div class="form-communication">
        <label class="form-label" for="input-phone">Phone</label>
        <input class="form-input" name="phone" id="input-phone" type="tel">
      </div>
      <div class="form-communication">
        <label class="form-label" for="input-email">Email</label>
        <input class="form-input" name="email" id="input-email" type="email">
      </div>
    </div>
    <div>
      <label class="form-label" for="input-message">Message</label>
      <input class="form-input" name="message" id="input-message">
    </div>
    <div class="accept-section">
      <input class="form-input-checkbox opacity" id="input-accept" name="accept" type="checkbox" value="accept">
      <label class="form-label form-checkbox" for="input-accept">By clicking on the button, you consent to the processing of your personal data</label>
    </div>
    <button disabled class="button-form" type="submit">SUBMIT</button>
    <button class="button-closed button-closed_js" type="button"></button>
  </form>
</div>