    <header class="header">
      <div class="container header-content">
        <a href="/index.html" class="header-logo-link">
          <img class="header-logo" width="100" height="52" src="/static/images/logo.svg" alt="logo">
        </a>
        <nav class="header-menu-wrapper">
          <ul class="list-hidden-marker header-menu">
            <li class="header-menu-item">
              <a class="header-menu-link" href="/pages/blog/index.html">BLOG</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link" href="/pages/catalog/index.html">CATALOG</a>
            </li>
            <li class="header-menu-item">
              <a class="header-menu-link" href="/pages/contact-us/index.html">ABOUT US</a>
            </li>
          </ul>
          <ul class="search-list list-hidden-marker">
            <li>
              <a class="search-link" href="#">
                <img class="search-image" src="/static/images/search.svg" alt="search">
              </a>
            </li>
            <li>
              <a class="search-text" href="/pages/contact-us/index.html">Contact Us</a>
            </li>
          </ul>
        </nav>
      </div>
    </header>