    <header class="header">
      <div class="container">
        <div class="header__content">
          <a href="/index.html" class="header__logo-link">
            <picture>
              <source srcset="static/images/dlk-mobile.svg"
                media="(max-width: 425px)">
              <img class="header__logo" src="/static/images/logo.svg" alt="logo">
            </picture>
          </a>
          <nav class="header__menu-wrapper">
            <ul class="list-hidden-marker header__menu">
              <li class="header__menu-item">
                <a class="header__menu-link" href="/pages/blog/index.html">BLOG</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="/pages/catalog/index.html">CATALOG</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="/pages/contact-us/index.html">ABOUT US</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="/pages/animation/index.html">ANIMATION</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="/pages/svg/index.html">SVG</a>
              </li>
              <li class="header__menu-item">
                <a class="header__menu-link" href="/pages/grid/index.html">GRID</a>
              </li>
            </ul>
            <buuton class="header__menu-button">MENU</buuton>
            <ul class="header__search-list list-hidden-marker">
              <li>
                <a class="header__search-link" href="#">
                  <picture>
                    <source srcset="static/images/search-mobile.svg"
                      media="(max-width: 320px)">
                    <img class="header__search-image" src="/static/images/search.svg" alt="search">
                  </picture>
                </a>
              </li>
              <li>
                <a class="header__search-text" href="/pages/contact-us/index.html">Contact Us</a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </header>