.contact-us {

  &__title {

    font-family: 'Montserrat', sans-serif;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
    text-align: left;
    margin-top: 60px;
  }

  &__link {

    font-family: 'Crimson Text', serif;
    font-size: 20px;
    line-height: 25px;
    margin-right: 20px;
    margin-left: 0;
    color: #1E0606;
  }

  &__arrow {
    
    margin-right: 20px;
  }

  &__link:hover, &__link:focus {

    cursor: pointer;
    color: #1E0606;
    opacity: 0.5;
  }

  &__body {

    display: flex;
    justify-content: space-between;
    margin-top: 50px;
  }

  &__form {

    max-width: 680px;
    margin: auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    background-color: #E5EAF8;
  }

  &__form-label {
  
    font-weight: normal;
    font-size: 14px;
    line-height: 16px;
  }
  
  &__form-input {
  
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    color: #1E0606;
  
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 43px;
    padding: 14px 0 14px 20px;
  }
  
  
  &__form-row {
  
    margin: 0 -10px;
    display: flex;
    justify-content: space-between;
  }
  
  &__form-communication {
  
    margin: 0 10px;
    width: 100%;
  }

  &__text {

    margin-left: 120px;
    width: 381px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }

  &__sentence-us {

    margin: 0;
    padding-bottom: 20px;
  }

  &__text-expert {

    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    width: 380px;
    font-weight: 600;
    font-size: 26px;
    line-height: 34px;
    text-transform: uppercase;
    color: #C29974;
    margin: 0;
  }

  &__button-form {

    cursor: pointer;
    font-weight: bold;
    padding: 9px 22px;
    width: 106px;
    height: 50px;
    border: 1px solid transparent;
    color: #E1E1E1;
    margin-top: 20px;
    background-color: #000000;
    transition: 0.5s;
  }

  &__button-form:hover, &__button-form:focus {

    cursor: pointer;
    background-color: #C29974;
  }
  
  &__button-form:active {
  
    background-color: #CFAF91;
  }
  
  &__button-form:disabled {
  
    background-color: #C1C1C1;
    color: #E1E1E1;
  }
  
  &__form-label-checkbox {
  
    display: flex;
    align-items: center;
  }
  
  &__form-checkbox {
  
    position: relative;
    padding-left: 30px;
    margin-left: -14px;
  }
  
  &__accept-section {
  
    display: flex;
  }
  
  &__form-input:hover, &__form-input:focus {
  
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  
  &__form-input:active {
  
    border: 2px solid rgba(0, 0, 0, 0.2);
  }
  
  &__form-checkbox::before {
  
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 19px;
    height: 19px;
    box-sizing: border-box;
    border: 2px solid #C29974;
    border-radius: 3px;
  }
  
  &__form-input-checkbox:checked + &__form-checkbox:after {
  
    content: "";
    display: block;
    position: absolute;
    left: 2px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 15px;
    box-sizing: border-box;
    background-image: url(/static/images/galka.svg);
  }
  
  &__form-label:hover, &__form-input-checkbox:focus + &__form-label {
    
    cursor: pointer;
    text-decoration: underline;
  }
  
  &__button-form-grey {
  
    background-color: #C1C1C1;
  }
  
  &__button-closed {
  
    width: 15px;
    height: 15px;
    position: absolute;
    background-image: url(/static/images/X.svg);
    background-color: transparent;
    top: 0;
    right: -25px;
    border: 0;
  }
  
  &__button-closed:hover {
  
    opacity: 0.5;
  }
  
  &__button-closed:active {
  
    opacity: 0.3;
  }
  
  &__modal-form {
  
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(125, 151, 218, 0.8);
  }
  
  .modal-form-window {
  
    margin: auto;
    position: relative;
  }
  
  .modal-form_none {
  
    display: none;
  }
}
