<footer class="footer">
  <div class="container">
    <div class="footer__content">
      <section class="footer__container">
        <h4 class="footer__title footer__gray-text">Navigation</h4>
        <nav class="footer-navigation">              
          <ul class="footer__navigation-list list-hidden-marker">
            <li class="footer__navigation-item"><a class="footer__information-link" href="#">About Us</a></li>
            <li class="footer__navigation-item"><a class="footer__information-link" href="#">Blog</a></li>
            <li class="footer__navigation-item"><a class="footer__information-link" href="#">Design Services</a></li>
            <li class="footer__navigation-item"><a class="footer__information-link" href="#">Featured On</a></li>
            <li class="footer__navigation-item"><a class="footer__information-link" href="#">2018 Holiday Catalog</a></li>
            <li class="footer__navigation-item"><a class="footer__information-link" href="#">Shop By Designer</a></li>
          </ul>
        </nav>
      </section>
      <section class="footer__container">
        <h4 class="footer__title footer__gray-text">Customer Information</h4>
          <nav class="footer-navigation">
            <ul class="footer__information-list list-hidden-marker">
              <li class="footer__information-item"><a class="footer__information-link" href="#">Contact Us</a></li>
              <li class="footer__information-item"><a class="footer__information-link" href="#">Sale Exclusions</a></li>
              <li class="footer__information-item"><a class="footer__information-link" href="#">Shipping & Returns</a></li>
              <li class="footer__information-item"><a class="footer__information-link" href="#">Terms & Conditions</a></li>
              <li class="footer__information-item"><a class="footer__information-link" href="#">Privacy Policy</a></li>
              <li class="footer__information-item"><a class="footer__information-link" href="#">Search</a></li>
            </ul>
          </nav>
      </section>
      <section class="footer__container">
        <h4 class="footer__title footer__gray-text">Connect</h4>
          <form class="footer__connect-form" name="user" action="index.html" method="POST">
            <input class="footer__connect-email"  type="email" autocomplete="on" placeholder="Email">
            <button class="footer__button-connect button_black" type="submit">JOIN</button>
          </form>
          <ul class="footer__social-list list-hidden-marker">
            <li class="footer__social-item"><a class="footer__social-link" href="#"><img src="/static/images/facebook.svg" alt="facebook"></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="#"><img src="/static/images/twitter.svg" alt="twitter"></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="#"><img src="/static/images/pinterest.svg" alt="pinterest"></a></li>
            <li class="footer__social-item"><a class="footer__social-link" href="#"><img src="/static/images/instagram.svg" alt="instagram"></a></li>
          </ul>
      </section>
    </div>
    <div class="footer__line">
      <fieldset class="footer__stars-block footer__container">
        <legend class="footer__star-text">Company Rating</legend>
          <ul class="footer__stars-section list-hidden-marker">
            <li class="footer__stars-group">
              <label class="footer__label-star" for="input-star1">@@include('star/index.html')</label>
              <input class="footer__form-star opacity" id="input-star1" name="rating" type="radio" value="1">
            </li>
            <li class="footer__stars-block">
              <label class="footer__label-star" for="input-star2">@@include('star/index.html')</label>
              <input class="footer__form-star opacity" id="input-star2" name="rating" type="radio" value="2">
            </li>
            <li class="footer__stars-block">
              <label class="footer__label-star" for="input-star3">@@include('star/index.html')</label>
              <input class="footer__form-star opacity" id="input-star3" name="rating" type="radio" value="3">
            </li>
            <li class="footer__stars-block">
              <label class="footer__label-star" for="input-star4">@@include('star/index.html')</label>
              <input class="footer__form-star opacity" id="input-star4" name="rating" type="radio" value="4">
            </li>
            <li class="footer__stars-block">
              <label class="footer__label-star" for="input-star5">@@include('star/index.html')</label>
              <input class="footer__form-star opacity" id="input-star5" name="rating" type="radio" value="5">
            </li>
          </ul>
      </fieldset>
      <p class="footer__blocks footer__container">Copyright © 2018 Dlk • Design Life Kids</p>
      <a class="footer__blocks footer__container footer__link footer__gray-text" href="#">Web Design — Direct Line Development</a>
    </div>      
</footer>