<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <section class="footer-container">
        <h4 class="footer-title gray_text">Navigation</h4>
        <nav class="footer-navigation">              
          <ul class="navigation-list list-hidden-marker">
            <li class="navigation-item"><a class="information-link" href="#">About Us</a></li>
            <li class="navigation-item"><a class="information-link" href="#">Blog</a></li>
            <li class="navigation-item"><a class="information-link" href="#">Design Services</a></li>
            <li class="navigation-item"><a class="information-link" href="#">Featured On</a></li>
            <li class="navigation-item"><a class="information-link" href="#">2018 Holiday Catalog</a></li>
            <li class="navigation-item"><a class="information-link" href="#">Shop By Designer</a></li>
          </ul>
        </nav>
      </section>
      <section class="footer-container">
        <h4 class="footer-title gray_text">Customer Information</h4>
          <nav class="footer-navigation">
            <ul class="information-list list-hidden-marker">
              <li class="information-item"><a class="information-link" href="#">Contact Us</a></li>
              <li class="information-item"><a class="information-link" href="#">Sale Exclusions</a></li>
              <li class="information-item"><a class="information-link" href="#">Shipping & Returns</a></li>
              <li class="information-item"><a class="information-link" href="#">Terms & Conditions</a></li>
              <li class="information-item"><a class="information-link" href="#">Privacy Policy</a></li>
              <li class="information-item"><a class="information-link" href="#">Search</a></li>
            </ul>
          </nav>
      </section>
      <section class="footer-container">
        <h4 class="footer-title gray_text">Connect</h4>
          <form class="connect-form" name="user" action="index.html" method="POST">
            <input class="connect-email"  type="email" autocomplete="on" placeholder="Email">
            <button class="button-connect button_black" type="submit">JOIN</button>
          </form>
          <ul class="social-list list-hidden-marker">
            <li class="social-item"><a class="social-link" href="#"><img src="static/images/facebook.svg" alt="facebook"></a></li>
            <li class="social-item"><a class="social-link" href="#"><img src="static/images/twitter.svg" alt="twitter"></a></li>
            <li class="social-item"><a class="social-link" href="#"><img src="static/images/pinterest.svg" alt="pinterest"></a></li>
            <li class="social-item"><a class="social-link" href="#"><img src="static/images/instagram.svg" alt="instagram"></a></li>
          </ul>
      </section>
    </div>
    <div class="footer-line">
      <div class="footer-star-block footer-container">
        <p class="star-text">Company Rating</p>
        <button class="button-star"><img class="stars" src="static/images/star.svg" alt="star"></button>
        <button class="button-star"><img class="stars" src="static/images/star.svg" alt="star"></button>
        <button class="button-star"><img class="stars" src="static/images/star.svg" alt="star"></button>
        <button class="button-star"><img class="stars" src="static/images/star.svg" alt="star"></button>
        <button class="button-star"><img class="stars" src="static/images/star.svg" alt="star"></button>
      </div>
      <p class="footer-title-star footer-container">Copyright © 2018 Dlk • Design Life Kids</p>
      <a class="footer-link gray_text footer-container" href="#">Web Design — Direct Line Development</a>
    </div>
  </div>      
</footer>
