.contacts {

  width: 543px;
  margin-left: 28.5px;
  position: relative;
  padding: 0 30px 80px 30px;
  background: #E1F0F7;

  &__title {

    margin: -24px 0;
    font-size: 38px;
    line-height: 46px;
    color: #1E0606;
  }
  
  &__text {
    font-family: 'Open Sans', sans-serif;
    padding-right: 0;
    padding-top: 20px;
    font-size: 16px;
    line-height: 22px;
    color: #1E0606;
  }

  &__map {
    width: 493px;
    height: 196px;
    border: none;
    position: absolute;
    top: calc(100% - 80px);
  }
}
