<section class="contacts">
  <h2 class="contacts__title">CONTACTS</h2>
  <p class="contacts__text">Some days i feel like i've been working on dlk my entire life and there are other days that i am completely
    shocked that four years have flown by. It's simply magical.</p>
  <iframe class="contacts__map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d75897.35753070594!2d49.34404977680757!3d53.525763984787055!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x416878b8637c79eb%3A0xdab676297edaa9f0!2z0KbQtdC90YLRgNCw0LvRjNC90YvQuSDRgC3QvSwg0KLQvtC70YzRj9GC0YLQuCwg0KHQsNC80LDRgNGB0LrQsNGPINC-0LHQuy4!5e0!3m2!1sru!2sru!4v1589615176387!5m2!1sru!2sru"></iframe>
</section>
